@import "tailwindcss";

:root {
  --color-primary: linear-gradient(90deg, rgb(16, 115, 254) 0%, rgb(2, 107, 255) 50%, rgb(0, 90, 217) 100%);
  --color-secondary: linear-gradient(90deg, #29B80B 0%, #2AB00E 50%, #1D9E01 100%);
  --color-bg: #f6f6f6;
  --color-text: #213242;
  --color-secondary-text: #425467;
}

[data-theme="dark"] {
  --color-primary: #3b82f6;
  --color-secondary: #a855f7;
  --color-bg: #111827;
  --color-text: #f9fafb;
}